/*colors
   lt gray #ABAAAA
   green #5D5F29
   purple #473150
   teal #346C6C
   blackish brown (text) #231F20
   light tan #EEDFB8
   rust #A65215 */

/*fonts
  font-family: 'Permanent Marker', cursive;
  font-family: 'Sacramento', cursive;
  font-family: 'Montserrat', sans-serif;*/

/* 3 @MEDIA QUERIES - MOBILE, TABLET, DESKTOP */

/*--------------------------------*/
/*--- GENERAL CSS-ALL FORMATS ---*/
/*--------------------------------*/

.wrapper {
  max-width: 1500px;
  width: 100%;
  min-height: 1440px;
  height: 100%;
  text-align: center;
  margin: auto;
}

body {
  background-image: url("../assets/background_repeat-2.png");
  background-repeat: repeat;
  text-align: center;
  padding: 0;
  margin: auto;
  width: 100%;
}

img {
  border: 0;
  max-width: 98%;
}

a {
  color: #EEDFB8;
  text-decoration: underline;
}

a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

h1 {
  font-family: 'Sacramento', cursive;
  color: #5D5F29;
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 20pt;
  font-weight: normal;
  color: #000000;
  padding-top: 15px;
  margin: 0 0 61px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 18pt;
  color: #000000;
  text-decoration: underline;
  font-weight: normal;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 24pt;
  color: #000;
  font-weight: normal;
}

/* container */
.container {
  width: 90%;
  margin: auto;
  position: relative;
  padding: 0;
  display: inline-block;
  text-align: center;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

*, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

/* HEADER/NAVBAR - all formats */
.header-box .container {
  padding: 0;
  margin: 10px;
  display: inline-block;
  background-image: url("../assets/vintage-concrete.png");
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.20);
  text-align: center;
 }

.header-box .site-logo {
  padding: 15px 0;
  width: 100%;
  max-width: 150px;
  min-width: 100px;
  vertical-align: middle;
  margin: auto;
}

.header-box .nav-banner {
  width: 100%;
  margin-top: 10px;
  padding: 5px 15px;
  margin: auto;
}

.header-box .menu-buttons {
  width: 100%;
  font-family: 'Oswald';
  font-weight: 200;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.20);
  text-decoration: none;
  text-align: center;
}

.header-box .menu-buttons a {
  text-decoration:none;
  font-size: 1.4em;
  transition:color .3s ease-in-out;
}

.header-box .menu-buttons ul {
  width: 80%;
  list-style: none;
  text-align: center;
  display: inline-block;
}

.header-box .menu-buttons li {
  position:relative;
  float:left;
  padding: 5px;
  margin: 12px 1px;
  cursor:pointer;
  background: #473150;
  text-align:center;
  border-radius:18px;
  box-shadow: .1em -.1em 0 .1em rgba(0, 0, 0, .2);
}

.header-box .menu-buttons a:hover {
  background-color: #EEDFB8;;
  color: #FFFFFF;
}

.header-box .order-banner {
  vertical-align: top;
  margin: 15px auto;
  width: 100%;
}

/* PRODUCTS - all formats */
.products .container {
  padding-bottom: 10px;
  margin-top: 5em;
  display: inline-block;
  background-image: url("../assets/vintage-concrete.png");
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.20);
  text-align: center;
}

.products .head {
  width: 100%;
  max-width: 190px;
  min-width: 150px;
  margin-top: -50px;
  margin: auto;
}

.products .box {
  background: white;
  box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.20);
  width: 100%;
  max-height: 270px;
  max-width: 225px;
  padding-top: 15px;
  margin: auto;
}

.products .box-pic {
  width: 100%;
  max-width: 198px;
  text-align: center;
}

.products h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 18pt;
  color: #000000;
  padding-top: 6px;
  margin: 5px 0 30px 0;
}

.products .button {
  border-radius: 10px;
  color: #EEDFB8;
  font-size: 16pt;
  font-weight: 400;
  padding: 6px 24px 10px 24px;
  height: 45px;
  width: 8em;
  margin: auto;
  margin-top: 40px;
  background: #473150;
  box-shadow: 1px 2px 0px 0px rgba(0,0,0,0.20);
}

.products :hover {
  color: #FFFFFF;
}

.products .row p {
  padding: 24px 0 0 5px;
  font-style:italic;
  font-size: 12pt;
  font-weight: bold;
  text-decoration: underline;
  color: #A65215;
  position: relative;
  text-align: center;
}

/* PHONE ORDER - all formats */
.phone-order .container {
  vertical-align: middle;
  display: block;
  text-align: center;
  padding: 15px 0;
}

.phone-order .left, .right {
  padding: 0;
  width: 50%;
  max-width: 155px;
  min-width: 50px;
  float: none;
}

.phone-order h2 {
  color: #346C6C;
  text-align: center;
  line-height: 30px;
  margin: auto;
  padding: 5px 0;
}

/* INFO BOXES - all formats */
.info-box .container.left, .container.right {
  padding-bottom: 10px;
  margin-top: 5em;
  display: inline-block;
  background-image: url("../assets/vintage-concrete.png");
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.20);
  text-align: center;
}

.info-box .container.left, container.right {
  float: none;
}
.info-box .head {
  width: 100%;
  max-width: 190px;
  min-width: 150px;
  margin: -50px auto 0;
}

.info-box .AFM-truck {
  width: 100%;
  max-width: 280px;
  min-width: 200px;
  padding: 10px;
}

.info-box .review-box {
  font-style: italic;
  padding: 44px 15px 15px 15px;
  line-height: 20px;
  background: #EFE0B9;
  box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.20);
  height: 200px;
  margin: 25px 15px 15px 15px;
}

.info-box p {
  padding: 18px;
  font-size: 10pt;
  font-weight: 200;
  line-height: 20px;
  margin: 10px auto;
}

.info-box a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  color: #231F20;
  font-weight: normal;
  line-height: 26px;
}

.info-box h3 {
  color: #346C6C;
  font-size: 10pt;
  margin-top: 10px;
}

/* Footer- all formats */
footer .container {
  background-image: url("../assets/vintage-concrete.png");
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.20);
  padding: 5px;
  height: 100%;
  max-height: 146px;
  margin: 20px auto;
  display: inline-block;
  text-align: center;
}

footer h2 {
  font-family: 'Montserrat', sans-serif;
  color: #A65215;
  font-size: 14pt;
  line-height: 30px;
  margin: auto;
}

footer a {
  font-size: 18px;
  font-weight: 200;
  color: #A65215;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}

footer i {
  vertical-align: top;
  margin: 13px auto;
  padding: 10px;
  color: #A65215;
  font-size: 22px;
  height: 1.5em;
}

footer p {
 color: #A65215;
 font-size: 12px;
 margin-top: 20px;
 margin-auto;
}

footer .logo {
  margin: 30px auto 0;
  width: 100%;
  max-width: 170px;
  min-width: 100px;
  padding: 5px;
  text-align: middle;
}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-iPHONES/OTHER MOBILES (min320/max600)
/*-----------------------------------------------------------------------------------*/

@media (min-width: 320px) and (max-width: 600px) {

    .column.full { width: 100%; }
    .column.half { width: 100%; }
    .column.third { width: 100%; }
    .column.one { width: 100%; }
    .column.two { width: 100%; }
    .column.three { width: 100%; }
    .column.middle { width: 100%; }
    .column.fourth { width: 100%; }

      /* HEADER/NAVBAR - max600 */
      .header-box .site-logo {
        max-width: 150px;
        min-width: 100px;
        padding-bottom: 5px;
      }

      .header-box .nav-banner {
        max-width: 470px;
        min-width: 235px;
      }

      .header-box .menu-buttons ul {
        padding: 0 8px;
      }

      .header-box .menu-buttons ul, li {
        width: 20em;
        margin: auto;
        padding: 0;
      }

      .header-box .order-banner {
        max-width: 90px;
        min-width: 80px;
        margin-top: 0;
      }

  /* CAROUSEL - see carousel.css */

  /* PRODUCTS - max600 */
      .products .head {
        max-width: 190px;
        min-width: 150px;
        margin-top: -45px;
      }

      .products .box {
        display: inline-block;
        margin-top: 42px;
      }

/* PHONE ORDER - max600 */
      .phone-order .container {
        margin: auto;
        padding-top: 45px;
      }

  /* NFO BOXES - max600 */
      .info-box .container.left, .container.right {
        max-width: 400px;
        min-width: 400px;
        min-height: 320px;
        padding: 10px;
      }

      .info-box .head {
        max-width: 190px;
        min-width: 150px;
        margin-top: -45px;
      }

  /* FOOTER - max600 */
      footer .logo {
        max-width: 170px;
        min-width: 100px;
        padding: 5px;
      }
    }

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-IPADS/TABLETS (min601/max1199)
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-width: 601px) and (max-width: 1199px) {

    .column.full { width: 100%; }
    .column.half { width: 100%; }
    .column.third { width: 100%; }

    .column.one {
      width: 50%;
      display: inline-block;
      float: left;
    }
    .column.two {
      width: 50%;
      display: inline-block;
    }

    .column.three {
      width: 100%;
      display: inline-block;
      text-align: center;
     }

    .column.middle { width: 100%; }
    .column.fourth { width: 100%; }

  /* HEADER/NAVBAR - max1199 */
      .header-box .site-logo {
        max-width: 200px;
        min-width: 150px;
      }

      .header-box .nav-banner {
        max-width: 900px;
        min-width: 480px;
      }

      .header-box .menu-buttons ul {
        padding: 0 8px;
        margin: auto;
      }

      .header-box .menu-buttons ul, li {
        width: 30em;
        margin: auto;
        padding: 0;
      }

      .header-box .order-banner {
        max-width: 100px;
        min-width: 75px;
      }

  /* CAROUSEL - see carousel.css */

  /* PRODUCTS - max1199 */
      .products .head {
        max-width: 190px;
        min-width: 150px;
        margin: -50px auto 0;
      }

      .products .box {
        display: block;
        margin: 30px auto 0;
      }

      .products .row p{
        margin: 5px auto 10px;
      }

  /* INFO BOXES - max1199 */
      .info-box .container.left, .container.right {
        max-width: 580px;
        min-width: 580px;
        min-height: 350px
        padding: 10px;
      }

      .info-box .head {
        max-width: 200px;
        min-width: 150px;
        margin-top: -45px;
      }

      .info-box p {
        padding: 18px 18px 8px 18px;
        font-size: 14pt;
        line-height: 22px;
      }

      .info-box a {
        font-size: 16pt;
        line-height: 26px;
      }

      .info-box h3 {
        font-size: 16pt;
        margin-top: 10px;
      }

      .info-box .review-box {
        margin: 22px 15px 15px 15px;
      }

  /* FOOTER - max1199  */
      footer .logo {
        margin: 30px auto 0;
        max-width: 200px;
        min-width: 100px;
      }
    }

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-LAPTOPS/DESKTOPS (min1200px)
/*-----------------------------------------------------------------------------------*/
@media (min-width: 1200px) {

    .column.full { width: 100%; }

    .column.nav-middle {
        width: 70%;
        display: inline-block;
        float: left;
    }
    .column.half {
        width: 50%;
        display: inline-block;
        float: left;
    }

    .column.nav-l-r {
        width: 15%;
        display: inline-block;
        float: left;
        z-index: 20;
    }

    .column.one {
        width: 33%;
        display: inline-block;
        float: left;
    }

    .column.two {
        width: 33%;
        display: inline-block;
    }

    .column.three {
        width: 33%;
        display: inline-block;
     }

    .column.third {
        width: 30%;
        display: inline-block;
        float: left;
    }

    .column.middle {
        width: 40%;
        display: inline-block;
        float: left;
        padding: 30px 0px;
    }

  /* HEADER/NAVBAR - min1200 */
      .header-box .site-logo {
        max-width: 310px;
        min-width: 240px;
        padding: 20px;
        float: left;  }

      .header-box .nav-banner {
          max-width: 515px;
          min-width: 480px;
          margin: auto;
          padding-top: 64px;
          padding-bottom: 10px;
      }

      .header-box .row {
        text-align: center;
        margin: auto;
      }

      .header-box .menu-buttons {
          font-size: 12px;
          padding: 2em 2em 5em 4em;
          margin: 10px 3em 0 7em;
      }

      .header-box .menu-buttons ul {
          padding: 0 8px;
          margin: auto;
          display: inline;
      }

      .header-box .menu-buttons li {
          margin: 8px;
    }

      .header-box .menu-buttons ul, li {
          width: 9em;
          margin: auto;
          padding: 0;
      }

      .header-box .order-banner {
          max-width: 130px;
          min-width: 100px;
          float: right;
          padding-right: 15px;
          margin: 0;
      }

  /* CAROUSEL - see carousel.css */

  /* PRODUCTS - min 1200 */
      .products .container {
        padding: 10px 90px;
      }

      .products .head {
          max-width: 190px;
          min-width: 150px;
          margin-top: -50px;
      }

      .products .box {
          display: block;
          margin: 20px auto;
      }

  /* PHONE ORDER - min 1200 */
      .phone-order .container {
          margin: auto;
      }

      .phone-order .left{
          padding: 20px 10px;
          margin-top: 4em;
          vertical-align: middle;
          width: 100%;
          max-width: 230px;
          min-width: 150px;      }

      .phone-order .right {
          padding: 20px 10px;
          margin-top: 4em;
          vertical-align: middle;
          width: 100%;
          max-width: 230px;
          min-width: 150px;
      }

      .phone-order h2{
          font-size: 40px;
          line-height: 47px;
          padding: 17px 0;
          margin: auto;
          text-align: center;
      }

  /* INFO/BOXES - min 1200 */
      .info-box .container.left, .container.right {
          display: inline-block;
          max-width: 500px;
          min-width: 500px;
          height: 355px;
          margin: 0 0 6em 0;
          padding: 10px;
      }

      .info-box .head {
          max-width: 190px;
          min-width: 150px;
          margin-top: -50px;
      }

      .info-box .AFM-truck {
          max-width: 300px;
          min-width: 200px;
          padding: 10px;
      }

      .info-box .review-box {
          padding: 44px 15px 15px 15px;
          line-height: 20px;
          height: 210px;
          margin: 25px;
      }

      .info-box p {
          padding: 18px;
          font-size: 11pt;
          font-weight: 200;
          line-height: 20px;
      }

      .info-box a {
          font-size: 14pt;
          line-height: 26px;
      }

      .info-box h3 {
          font-size: 10pt;
          margin-top: 10px;
      }

  /* FOOTER - min 1200 */
      footer .container {
          display: inline-block;
          text-align: center;
          margin: auto;
          padding: 0;
      }

      footer i {
          padding-right: 35;
          font-size: 25px;
          height: 1em;
          vertical-align: middle;
      }

      footer a{
          text-align: left;
          margin: 15px;
          padding: 25px;
          font-size: 18px;
      }

      footer p {
         font-size: 12px;
         text-align: left;
         vertical-align: bottom;
         padding-top: 42px;
         margin-left: 15px;
      }

      footer .logo {
          max-width: 150px;
          min-width: 90px;
          float: right;
          vertical-align: middle;
          padding: 8px 15px 2px 0;
          margin: auto;
      }
    }
