/*colors
   lt gray #ABAAAA
   green #5D5F29
   lt green-background #BFC1AA
   purple #473150
   teal #346C6C
   blackish brown (text) #231F20
   light tan #EEDFB8
   rust #A65215 */

/*fonts
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
]
/* 3 @MEDIA QUERIES - MOBILE, TABLET, DESKTOP */

/*--------------------------------*/
/*--- GENERAL CSS-ALL FORMATS ---*/
/*--------------------------------*/

.wrapper {
  max-width: 1500px;
  width: 100%;
  min-height: 1440px;
  height: 100%;
  text-align: center;
  margin: auto;
}

body {
  background-color: #BFC1AA;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  width: 100%;
}

a {
  color: #EEDFB8;
  text-decoration: none;
}

a:hover {
  color: #EEDFB8;
  text-decoration: none;
}

h1 {
  font-family: 'Lobster';
  color: #A65215;
  font-size: 38pt;
  font-weight: normal;
  line-height: 0;
}

h2 {
  font-family: 'Lobster';
  font-size: 20pt;
  font-weight: normal;
  color: #5D5F29;
  padding-top: 0px;
  margin: auto;
}

h3 {
  font-family: 'Lobster';
  font-size: 38pt;
  color: #346C6C;
  font-weight: normal;
}

h4 {
  font-family: 'Lato';
  font-size: 32pt;
  font-weight: bold;
  color: #A65215;
  padding-top: 15px;
  margin: auto;
}

p {
  font-family: 'Lato';
  font-style: italic;
  font-size: 14pt;
  color: #231F20;
  font-weight: normal;
  text-align: center;
}

/* container - all formats */
.container {
  width: 90%;
  margin: auto;
  position: relative;
  padding: 0;
  display: inline-block;
  text-align: center;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

*, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

/* HEADER/NAVBAR - all formats */
.header-box .site-logo {
  padding: 5px 0;
  width: 100%;
  max-width: 100px;
  min-width: 95px;
  vertical-align: middle;
  margin: auto;
}

.header-box .nav-banner {
  max-width: 600px;
  min-width: 200px;
}

.header-box h2{
  text-align: center;
  margin: -1.75em auto 1em;
  font-size: 22pt;
}

.scallop {
  position:relative;
  background: repeating-linear-gradient(
    to right,
    #F1E5C6,
    #F1E5C6 10px,
    #EEDFB8 10px,
    #EEDFB8 20px
  );

}

/* .scallop::after {
  position:absolute;
  bottom: -50px;
  left: 0px;
  width: 100%;
  content:" ";
  background:
  radial-gradient(circle at 50% 0%, #EEDFB8 25%, #BFC1AA 26%, #BFC1AA 40%);
  background-size:50px 100px;
  height:50px;
  background-repeat: repeat-x;
}*/

.after-scallop{
  padding:20px;
  margin: auto;
}

.menu-buttons .container{
  width: 100%;
  font-family: 'Lato';
  font-weight: bold;
  text-decoration: none;
  margin: 10px 0;
  display: block;
  font-size: 14pt;
  background-color: #EEDFB8;
  height: 3em;
}

.menu-buttons a {
  text-decoration:none;
  color: #5D5F29;
  float: left;
  padding: 10px;
  margin-left: 10px;
}

.menu-buttons .space {
  padding: 10px 15px;
  float: left;
  color: #5D5F29;
}

.menu-buttons a:hover {
  background-color: #BFC1AA;
  color: #346C6C;
}

.menu-buttons a.active {
  background-color: #BFC1AA;
  color: #346C6C;
  cursor: default;
}

/*CAROUSEL */
.carousel {
  width: 70%;
  text-align: center;
  margin: auto;
}

/* PHONE ORDER - all formats */
.phone-order .container {
  background: #EEDFB8;
  border-top: 2px dashed #A65215;
  border-bottom: 2px dashed #A65215;
  padding: 20px 0;
  margin: 45px auto;
}

.phone-order h1 {
  font-size: 20pt;
  margin: auto;
  padding: 10px 0;
}

.phone-order h3 {
  font-size: 18pt;
  line-height: 30px;
  margin: 10px auto;
  padding: 10px 0;
}

/* PRODUCTS - all formats */
.products .container {
  padding-bottom: 10px;
  margin-top: 0;
  display: inline-block;
  text-align: center;
}

.products .head h1 {
  font-size: 20pt;
  color: #A65215;
  margin: 30px auto;
}

.products .head p {
  font-size: 12pt;
  margin: 15px auto;
  padding: 0;
  color: #231F20;
}

.products a {
  font-weight: bold;
  color: #346C6C;
  float: none;
}

.products .view {
  color: #EEDFB8;
  float: none;
}

.products .box {
  background: white;
  width: 100%;
  max-height: 350px;
  max-width: 276px;
  padding: 15px 0;
  margin: 30px auto;
}

.products .box-pic {
  width: 100%;
  max-width: 247px;
  text-align: center;
}

.products h4 {
  font-size: 12pt;
  margin: 10px auto;
  padding: 10px 0 0px;
}

.products .order-button a{
  border-radius: 18px;
  font-size: 12pt;
  font-weight: 400;
  padding: 5px 15px;
  height: 40px;
  width: 8em;
  margin: 20px auto;
  background: #346C6C;
  text-decoration: none;
  color: #EEDFB8;
}

.products a:hover {
  color: #FFFFFF;
}

/* INFORMATION ROWS - all formats */
.info-box .container {
  padding-bottom: 10px;
  margin-top: 0;
  display: inline-block;
  text-align: center;
}

.info-box h1 {
  font-size: 18pt;
  color: #A65215;
  margin: 30px auto;
}

.info-box p {
  font-size: 12pt;
  margin: 15px 40px;
  padding: 0;
  color: #231F20;
}

.info-box .more {
  font-size: 14pt;
  font-weight: bold;
  color: #346C6C;
  padding-top: 10px;
}

.info-box a {
  font-size: 14pt;
  font-weight: bold;
  color: #346C6C;
  padding-top: 10px;
}

.info-box i {
  color: #346C6C;
  font-size: 12pt;
  padding: 0 5px;
}

.info-box .AFM-truck {
  width: 100%;
}

.info-box .reviews p{
  background: rgba(255, 255, 255, 0.5);
  padding: 20px 34px;
  margin: 15px auto 25px;
  width: 40%;
}

/* FOOTER- all formats */
footer .container {
  background: #EEDFB8;
  padding: 5px;
  height: 100%;
  max-height: 250px;
  margin: 20px auto;
  display: inline-block;
  text-align: center;
}

footer a {
  font-size: 12px;
  font-weight: 300;
  color: #A65215;
  margin: auto;
  float: none;
}

footer i {
  vertical-align: top;
  margin: 13px auto;
  padding-bottom: 10px;
  color: #A65215;
  font-size: 18px;
  height: 1em;
}

footer .space {
  color: #A65215;
  font-size: 12px;
  padding: 0 15px;
}

footer p {
 color: #A65215;
 font-size: 6pt;
 margin-top: 15px;
 margin: auto;
}

footer .footer-banner img{
  width: 100%;
  max-width: 220px;
  min-width: 75px;
  margin: 0 auto;
  vertical-align: middle;
  padding-bottom: 10px;
}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-iPHONES/OTHER MOBILES (min320/max600)
/*-----------------------------------------------------------------------------------*/

@media (min-width: 320px) and (max-width: 600px) {

    .column.full { width: 100%; }
    .column.half { width: 100%; }
    .column.third { width: 100%; }
    .column.one { width: 100%; }
    .column.two { width: 100%; }
    .column.three { width: 100%; }
    .column.middle { width: 100%; }

  /* HEADER/NAVBAR - max600 */
    .menu-buttons .container {
        padding: 0 44px;
        font-size: 10pt;
    }

    .menu-buttons a {
        float: none;
    }

    .menu-buttons .space {
        padding: 0 5px;
        float: none;
    }

    .header-box .site-logo {
        max-width: 100px;
        min-width: 75px;
        padding-bottom: 0;
    }

    .header-box .nav-banner {
        max-width: 375px;
        min-width: 250px;
    }

    .header-box h2 {
        font-size: 14pt;
        margin: -1.75em auto .5em;
    }

    /* CAROUSEL - see carousel.css */

    /*CAROUSEL  - max600 */
    .carousel {
        width: 90%;
        text-align: center;
        margin: auto;
    }

    section.awSlider a{
        width: 6%;
    }

    section.awSlider ol{
        color: #5D5F29;
        margin-bottom: 2px;
    }

    .carousel-indicators li {
        width: 6px;
        height: 6px;
    }

    .carousel-indicators .active {
        width: 6px;
        height: 6px;
    }

    .carousel-control .left .right {
        width: 6px;
        height: 6px;
    }

  /* PHONE ORDER - max600 */
    .phone-order h1 {
        padding: 10px 0;
        font-size: 18pt;
    }

    .phone-order h3 {
        font-size: 12pt;
        margin: 2px auto;
        line-height: 25px;
    }

  /* PRODUCTS - max600 */
    .products .head p {
        padding: 0 40px;
    }

    .products .box {
        width: 65%;
        margin: 20px auto;
    }

    .products .box-pic {
        width: 84%;
    }

    .products .order-button a{
        font-size: 11pt;
        padding: 4px 12px;
        height: 35px;
    }

  /* INFO BOXES - max600 */
    .info-box .AFM-truck {
        max-width: 215px;
        min-width: 100px;
    }

    .info-box .reviews p{
        width: 50%;
    }

  /* FOOTER - max600 */
    footer .container {
        margin: auto;
        padding: 0;
    }

    footer .footer-banner img {
        width: 115%;
        max-width: 215px;
        min-width: 75px;
        padding: 10px 0 0 0;
    }

    footer a {
        font-size: 10px;
        font-weight: 200;
        padding: 0 3px;
    }

    footer .space {
        font-size: 10px;
        padding: 0 5px;
    }

    footer i {
        padding: 0 10px;
        font-size: 14px;
        height: 6px;
        vertical-align: middle;
    }

    footer p {
        font-size: 10px;
        padding: 10px 0 5px 0;
        margin: 0 auto;
    }
  }

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-IPADS/TABLETS (min601/max1199)
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-width: 601px) and (max-width: 1199px) {

    .column.full { width: 100%; }

    .column.half {
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }

    .column.third {
        width: 30%;
        display: inline-block;
        padding: 10px;
        vertical-align: middle;
    }

    .column.one {
        width: 45%;
        display: inline-block;
    }
    .column.two {
        width: 45%;
        display: inline-block;
    }

    .column.three {
        width: 45%;
        display: inline-block;
        text-align: center;
     }

    .column.middle {
        width: 30%;
        display: inline-block;
    }

  /* HEADER/NAVBAR - max1199 */
    .menu-buttons .container {
        padding: 0 44px;
        font-size: 12pt;
    }

    .menu-buttons a {
        float: none;
    }

    .menu-buttons .space {
        padding: 0 5px;
        float: none;
    }

    .header-box .site-logo {
        max-width: 115px;
        min-width: 75px;
    }

    .header-box .nav-banner {
        max-width: 400px;
        min-width: 250px;
    }

    .header-box h2 {
        font-size: 16pt;
        margin: -1.75em auto .5em;
    }

  /* CAROUSEL - see carousel.css */

  /* PHONE ORDER - max1199 */
    .phone-order .container {
        width: 80%;
    }

  /* PRODUCTS - max1199 */
    .products .head p {
        font-size: 14pt;
        padding: 0 10em;
    }

    .products .box {
        width: 78%;
        margin: 20px auto;
    }

    .products .box-pic {
        width: 84%;
    }

    .products h4 {
        font-size: 14pt;
    }

    .products .order-button a{
        font-size: 12pt;
    }


  /* INFO BOXES - max1199 */
    .info-box .AFM-truck {
        max-width: 215px;
        min-width: 100px;
    }

    .info-box .reviews p{
        width: 60%;
    }


  /* FOOTER - max1199  */
    footer .container {
        margin: auto;
        padding: 0;
    }

    footer .footer-banner img {
        width: 115%;
        max-width: 215px;
        min-width: 75px;
    }

    footer a {
        font-size: 12px;
        font-weight: 200;
        padding: 0 10px;
    }

    footer .space {
        padding: 0 5px;
    }

    footer i {
        padding: 10px 20px;
        font-size: 14px;
        height: .5em;
        vertical-align: middle;
    }

    footer p {
        font-size: 10px;
        text-align: left;
        vertical-align: bottom;
        padding-top: 55px;
        margin: 0 15px;
        float: right;
    }
}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-LAPTOPS/DESKTOPS (min1200px)
/*-----------------------------------------------------------------------------------*/
@media (min-width: 1200px) {

    .column.full { width: 100%; }

    .column.half {
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }

    .column.one {
        width: 33%;
        display: inline-block;
    }

    .column.two {
        width: 33%;
        display: inline-block;
    }

    .column.three {
        width: 33%;
        display: inline-block;
    }

    .column.third {
        width: 30%;
        display: inline-block;
        padding: 20px;
        vertical-align: middle;
    }

    .column.middle {
        width: 38%;
        display: inline-block;
    }

  /* HEADER/NAVBAR - min1200 */
    .header-box .container {
        text-align: center;
    }

    .header-box .site-logo {
        max-width: 150px;
        min-width: 115px;
    }

    .header-box .nav-banner {
        max-width: 600px;
        min-width: 250px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .header-box h2{
        font-size: 22pt;
        text-align: center;
        padding-top: -10px;
    }

    .menu-buttons li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    .menu-buttons li {
        float: left;
    }

    .menu-buttons ul {
        overflow: auto;
        width: 650px;
        margin: 0 auto;
    }

  /* CAROUSEL - see carousel.css */

  /* PHONE ORDER - min 1200 */
    .phone-order .container {
        width: 80%;
    }

    .phone-order h3 {
        font-size: 14pt;
    }

  /* PRODUCTS - min 1200 */
    .products .head p {
        font-size: 14pt;
        padding: 0 10em;
    }

  /* INFO/BOXES - min 1200 */
    .info-box .AFM-truck {
        max-width: 215px;
        min-width: 100px;
    }

  /* FOOTER - min 1200 */
    footer .container {
        margin: auto;
        padding: 0;
    }

    footer .footer-banner img {
        width: 115%;
        max-width: 215px;
        min-width: 75px;
    }

    footer i {
        padding: 10px 20px;
        font-size: 22px;
        vertical-align: middle;
    }

    footer a {
        font-size: 14px;
    }

    footer p {
        font-size: 12px;
        text-align: left;
        vertical-align: bottom;
        padding-top: 55px;
        margin: 0 15px;
        float: right;
    }
}
