/*colors
   lt gray #ABAAAA
   green #5D5F29
   lt green-background #BFC1AA
   purple #473150
   teal #346C6C
   blackish brown (text) #231F20
   light tan #EEDFB8
   rust #A65215 */

/*fonts
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
]
/* 3 @MEDIA QUERIES - MOBILE, TABLET, DESKTOP */

/*--------------------------------*/
/*--- GENERAL CSS-ALL FORMATS ---*/
/*--------------------------------*/

.wrapper {
  max-width: 1500px;
  width: 100%;
  min-height: 1440px;
  height: 100%;
  text-align: center;
  margin: auto;
}

body {
  background-color: #BFC1AA;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  width: 100%;
}

img {
}

a {
  color: #EEDFB8;
  text-decoration: none;
}

a:hover {
  color: #EEDFB8;
  text-decoration: none;
}

h1 {
  font-family: 'Lobster';
  color: #A65215;
  font-size: 38pt;
  font-weight: normal;
  line-height: 0;
}

h2 {
  font-family: 'Lobster';
  font-size: 20pt;
  font-weight: normal;
  color: #5D5F29;
  padding-top: 0px;
  margin: auto;
}

h3 {
  font-family: 'Lobster';
  font-size: 38pt;
  color: #346C6C;
  font-weight: normal;
}

h4 {
  font-family: 'Lato';
  font-size: 32pt;
  font-weight: bold;
  color: #A65215;
  padding-top: 15px;
  margin: auto;
}

p {
  font-family: 'Lato';
  font-style: italic;
  font-size: 14pt;
  color: #231F20;
  font-weight: normal;
  text-align: center;
}

/* container - all formats */
.container {
  width: 90%;
  margin: auto;
  position: relative;
  padding: 0;
  display: inline-block;
  text-align: center;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

*, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

/* HEADER/NAVBAR - all formats */
.header-box .site-logo {
  padding: 5px 0;
  width: 100%;
  max-width: 100px;
  min-width: 95px;
  vertical-align: middle;
  margin: auto;
}

.header-box .nav-banner {
  max-width: 300px;
  min-width: 200px;
}

.header-box h2{
  text-align: center;
  margin: -1.75em auto 1em;
  font-size: 22pt;
}

.scallop {
  position:relative;
  background: #EEDFB8;
  padding:10px;
}

.scallop::after {
  position:absolute;
  bottom: -50px;
  left: 0px;
  width: 100%;
  content:" ";
  background:
  radial-gradient(circle at 50% 0%, #EEDFB8 25%, #BFC1AA 26%, #BFC1AA 40%);
  background-size:50px 100px;
  height:50px;
  background-repeat: repeat-x;
}

.after-scallop{
  padding:25px;
  margin: auto;
}

.menu-buttons {
  width: 98%;
  font-family: 'Lato';
  font-weight: bold;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  display: inline-block
}

.menu-buttons ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.menu-buttons li {
  font-size: 1.2em;
  line-height: 35px;
  height: 35px;
  background: #346C6C;
  margin: .5em .25em;
  border-radius: 18px;
}

.menu-buttons a {
  text-decoration:none;
  color: #EEDFB8;
  display: block;
  transition: .3s background-color;
  border-radius: 18px;
}

.menu-buttons a:hover {
  background-color: #BFC1AA;
  color: #346C6C;
}

.menu-buttons a.active {
  background-color: #BFC1AA;
  cursor: default;
}

/*CAROUSEL */
.carousel {
  width: 75%;
  text-align: center;
  margin: auto;
}

/* PHONE ORDER - all formats */

.phone-order .container {
  background: #EEDFB8;
  border-top: 1px dashed #A65215;
  border-bottom: 1px dashed #A65215;
  padding: 20px 0;
  outline: 1px dashed darken($color,10);
  margin: 10px auto;
}

.phone-order h1 {
  font-size: 28pt;
  margin: auto;
  padding: 10px 0;
}

.phone-order h3 {
  font-size: 18pt;
  margin: 10px auto;
  padding: 10px 0;
}

/* PRODUCTS - all formats */
.products .container {
  padding-bottom: 10px;
  margin-top: 0em;
  display: inline-block;
  text-align: center;
}

.products .head h1 {
  font-size: 18pt;
  color: #A65215;
  margin: 30px auto;
}

.products .head p {
  font-size: 12pt;
  margin: 15px auto;
  padding: 0;
  color: #231F20;
}

.products span a{
  font-weight: bold;
  color: #346C6C;
}

.products .box {
  background: white;
  width: 100%;
  max-height: 350px;
  max-width: 276px;
  padding: 15px 0;
  margin: 30px auto;
}

.products .box-pic {
  width: 100%;
  max-width: 247px;
  text-align: center;
}

.products h4 {
  font-size: 18pt;
  margin: 10px auto;
  padding: 10px 0 0px;
}

.products .order-button a{
  border-radius: 18px;
  font-size: 14pt;
  font-weight: 400;
  padding: 5px 15px;
  height: 40px;
  width: 8em;
  margin: 20px auto;
  background: #346C6C;
  text-decoration: none;
}

.products a:hover {
  color: #FFFFFF;
}

/* INFORMATION ROWS - all formats */
.info-row .container {
  width: 50%;
  padding-bottom: 10px;
  margin-top: 0em;
  display: inline-block;
  text-align: center;
}

.info-row .head h1 {
  font-size: 18pt;
  color: #A65215;
  margin: 30px auto;
}

.info-row .head p {
  font-size: 12pt;
  margin: 15px 40px;
  padding: 0;
  color: #231F20;
}

.info-row span a{
  font-size: 14pt;
  font-weight: bold;
  color: #346C6C;
}

.info-row i {
  color: #346C6C;
  font-size: 12pt;
  padding: 0 5px;
}

.info-row .AFM-truck {
  width: 100%;
  max-width: 280px;
  min-width: 200px;
  padding: 10px;
}

.info-row .reviews {
  background: #EEDFB8;
  padding: 20px 34px;
  margin: 15px auto;
}


/* Footer- all formats */
footer .container {
  background: #EEDFB8;
  padding: 5px;
  height: 100%;
  max-height: 250px;
  margin: 20px auto;
  display: inline-block;
  text-align: center;
}

footer a {
  font-size: 12px;
  font-weight: 300;
  color: #A65215;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}

footer i {
  vertical-align: top;
  margin: 13px auto;
  padding: 10px;
  color: #A65215;
  font-size: 18px;
  height: 1em;
}

footer span {
  color: #A65215;
  font-size: 12px;
}

footer p {
 color: #A65215;
 font-size: 6pt;
 margin-top: 15px;
 margin: auto;
}

footer .nav-banner {
  width: 100%;
  max-width: 200px;
  min-width: 75px
  margin: 5px auto;
}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-iPHONES/OTHER MOBILES (min320/max600)
/*-----------------------------------------------------------------------------------*/

@media (min-width: 320px) and (max-width: 600px) {

    .column.full { width: 100%; }
    .column.half { width: 100%; }
    .column.third { width: 100%; }
    .column.one { width: 100%; }
    .column.two { width: 100%; }
    .column.three { width: 100%; }
    .column.middle { width: 100%; }

      /* HEADER/NAVBAR - max600 */
      .header-box .site-logo {
        max-width: 100px;
        min-width: 75px;
        padding-bottom: 0;
      }

      .header-box .nav-banner {
        max-width: 375px;
        min-width: 250px;
      }

      .header-box h2 {
        font-size: 14pt;
        margin: -1.75em auto .5em;

      }

  /* CAROUSEL - see carousel.css */

  /*CAROUSEL  - max600 */
  .carousel {
    width: 90%;
    text-align: center;
    margin: auto;
  }

  section.awSlider a{
    width: 6%;
  }

  section.awSlider ol{
    color: #5D5F29;
    margin-bottom: 2px;
  }

  .carousel-indicators li {
    width: 6px;
    height: 6px;
  }

  .carousel-indicators .active {
    width: 6px;
    height: 6px;
  }

  .carousel-control .left .right {
    width: 6px;
    height: 6px;
  }

/* PHONE ORDER - max600 */
.phone-order .container {

}

.phone-order h1 {
  padding: 10px 0;
  font-size: 18pt;
}

.phone-order h3 {
  font-size: 14pt;
  margin: 2px auto;
  line-height: 25px;
}

/* PRODUCTS - max600 */
.products .head p {
  padding: 0 40px;
}

.products .box {
  width: 65%;
  margin: 20px auto;
}

.products .box-pic {
  width: 84%;
}

.products h4 {
  font-size: 14pt;
}

.products .order-button a{
  font-size: 12pt;
}

  /* NFO BOXES - max600 */
  .info-row .container {
    width: 75%;
  }

  /* FOOTER - max600 */

    }

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-IPADS/TABLETS (min601/max1199)
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-width: 601px) and (max-width: 1199px) {

    .column.full { width: 100%; }
    .column.half { width: 100%; }

    .column.third {
      width: 30%;
      display: inline-block;
    }

    .column.one {
      width: 45%;
      display: inline-block;
    }
    .column.two {
      width: 45%;
      display: inline-block;
    }

    .column.three {
      width: 45%;
      display: inline-block;
      text-align: center;
     }

    .column.middle {
      width: 30%;
      display: inline-block;
    }

  /* HEADER/NAVBAR - max1199 */

      .header-box .site-logo {
        max-width: 115px;
        min-width: 75px;
      }

      .header-box .nav-banner {
        max-width: 400px;
        min-width: 250px;
      }

      .header-box h2 {
        font-size: 16pt;
        margin: -1.75em auto .5em;
      }

      .menu-buttons ul {
        overflow: auto;
        width: 550px;
        margin: 0 auto;
      }

      .menu-buttons li {
        float: left;
        width: 100px;
        border-bottom: none;
        height: 35px;
        font-size: 1em;
        text-align: center;
      }

  /* CAROUSEL - see carousel.css */

  .phone-order .container {
  }

  .phone-order h1 {
    margin: auto;
    padding: 10px 0;
    font-size: 18pt;
  }

  .phone-order h3 {
    font-size: 14pt;
  }

  /* PRODUCTS - max1199 */
  .products .head p {
    padding: 0 50px;
  }

  .products .box {
    width: 78%;
    margin: 20px auto;
  }

  .products .box-pic {
    width: 84%;
  }

  .products h4 {
    font-size: 14pt;
  }

  .products .order-button a{
    font-size: 12pt;
  }


  /* INFO BOXES - max1199 */
  .info-row .container {
    width: 65%;
  }

  /* FOOTER - max1199  */
  footer a {
font-size: 10px;
font-weight: 200;
padding: 0 10px;
  }

  footer i {
font-size: 14px;
height: .5em;
  }

  footer p {
font-size: 5pt;
float: right;
  }

    }

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-LAPTOPS/DESKTOPS (min1200px)
/*-----------------------------------------------------------------------------------*/
@media (min-width: 1200px) {

    .column.full { width: 100%; }

    .column.half {
        width: 50%;
        display: inline-block;
    }

    .column.one {
        width: 33%;
        display: inline-block;
    }

    .column.two {
        width: 33%;
        display: inline-block;
    }

    .column.three {
        width: 33%;
        display: inline-block;
     }

    .column.third {
        width: 30%;
        display: inline-block;
        float: left;
        padding-top: 50px;
    }

    .column.middle {
        width: 40%;
        display: inline-block;
        padding: 30px 0px;
    }

  /* HEADER/NAVBAR - min1200 */
      .header-box .container {
        text-align: center;
      }

      .header-box .site-logo {
          max-width: 100px;
          min-width: 75px;
          width: 90%;
          margin: auto;
      }

      .header-box .nav-banner {
          max-width: 555px;
          min-width: 200px;
          margin: auto;
          padding-top: 0;
          padding-bottom: 0;
      }

      .header-box h2{
        text-align: center;
        padding-top: -10px;
      }

      .menu-buttons li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
      }

       .menu-buttons li {
        float: left;
      }
      .menu-buttons ul {
        overflow: auto;
        width: 650px;
        margin: 0 auto;
      }

  /* CAROUSEL - see carousel.css */

  /* PHONE ORDER - min 1200 */

  .phone-order .container {
  }

  .phone-order h1 {
    padding: 10px 0;
    font-size: 18pt;
  }

  .phone-order h3 {
    font-size: 14pt;
  }


  /* PRODUCTS - min 1200 */

  .products .head p {
    font-size: 14pt;
    padding: 0 100px;
  }

      .products .container {
      }

      .products .box {
      }

  /* INFO/BOXES - min 1200 */
      .info-row {


      }

      .info-row .AFM-truck {
          max-width: 300px;
          min-width: 200px;
          padding: 10px;
      }

  /* FOOTER - min 1200 */
      footer .container {
          display: inline-block;
          text-align: center;
          margin: auto;
          padding: 0;
      }

      footer .nav-banner {
        width: 100%;
        max-width: 200px;
        min-width: 75px
        margin: 5px auto;
      }

      footer i {
          padding-right: 35;
          font-size: 25px;
          height: 1em;
          vertical-align: middle;
      }

      footer a{
          margin: 15px;
          padding: 25px;
          font-size: 18px;
      }

      footer p {
         font-size: 12px;
         text-align: left;
         vertical-align: bottom;
         padding-top: 55px;
         margin: 0 15px;
         float: right;
      }

    }
