/*colors
   lt gray #ABAAAA
   green #5D5F29
   purple #473150
   teal #346C6C
   blackish brown (text) #231F20
   light tan #EEDFB8
   rust #A65215 */

/*fonts
  font-family: 'Permanent Marker', cursive;
  font-family: 'Sacramento', cursive;
  font-family: 'Montserrat', sans-serif;*/

/* 3 @MEDIA QUERIES - MOBILE, TABLETS, DESKTOPS */

/*--------------------------------*/
/*--- GENERAL CSS-ALL FORMATS ---*/
/*--------------------------------*/

.wrapper {
  max-width: 1440px;
  width: 100%;
  min-height: 1440px;
  height: 100%;
  margin: 0 auto;
}

body {
  background-image: url("../assets/background_repeat-2.png");
  background-repeat: repeat;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

img {
  border: 0;
  max-width: 98%;
}

a {
  color: #EEDFB8;
  text-decoration: underline;
}

a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

h1 {
  font-family: 'Sacramento', cursive;
  color: #5D5F29;
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 20pt;
  font-weight: normal;
  color: #000000;
  padding-top: 15px;
  margin: 0 0 61px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 18pt;
  color: #000000;
  text-decoration: underline;
  font-weight: normal;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 24pt;
  color: #000;
  font-weight: normal;
}

/* container */
.container {
  width: 90%;
  margin: 10px;
  position: relative;
  padding: 0;
  display: inline-block;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

*, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

/* HEADER/NAVBAR - all formats */
.header-box .container{
  padding: 0;
  margin: 10px;
  display: inline-block;
  background-image: linear-gradient(to bottom, #FDFDEC, #A6A86C);
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.20);
 }

.header-box .site-logo{
 padding: 15px 0;
 width: 100%;
 max-width: 150px;
 min-width: 100px;
 vertical-align: middle;
}

.header-box .nav-banner {
 width: 100%;
 margin-top: 10px;
 padding: 5px 15px;
}

.header-box .link-display {
 display: block;
 margin: 3em;
}

.header-box .main-menu-button a{
 font-family: 'Oswald';
 font-size: 14pt;
 font-weight: 200;
 text-shadow: 2px 2px 1px rgba(0,0,0,0.20);
 text-decoration: none;
}

.header-box a:hover {
  color: #FFFFFF;
}

.header-box .order-banner {
  vertical-align: top;
  margin-top: 15px;
  width: 100%;
}

/* PRODUCTS - all formats */
.products .container {
  padding-bottom: 10px;
  margin-top: 5em;
  display: inline-block;
  background-image: linear-gradient(45deg, #FDFDEC, #A6A86C);
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.20);
}

.products .head {
  width: 100%;
  max-width: 190px;
  min-width: 150px;
  margin-top: -50px;
}

.products .box {
  background: white;
  box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.20);
  width: 100%;
  max-height: 252px;
  max-width: 225px;
  margin: 50px 5px 0 5px;
}

.products .box-pic {
  width: 100%;
  max-width: 198px;
  margin-top: 10px;
  text-align: center;
}

.products h2{
  font-family: 'Permanent Marker', cursive;
  font-size: 18pt;
  color: #000000;
  padding-top: 6px;
  margin: 5px 0 30px 0;
}

.products .button a{
  border-radius: 10px;
  color: #EEDFB8;
  font-size: 16pt;
  font-weight: 400;
  padding: 6px 24px 10px 24px;
  height: 30px;
  background: #473150;
  box-shadow: 1px 2px 0px 0px rgba(0,0,0,0.20);
}

.products :hover {
  color: #FFFFFF;
}

.products .row p{
  padding: 24px 0 0 5px;
  font-style:italic;
  font-size: 12pt;
  font-weight: bold;
  text-decoration: underline;
  color: #A65215;
  position: relative;
  text-align: center;
}

/* PHONE ORDER - all formats */
.phone-order .container{
  vertical-align: middle;
  display: block;
  margin: 4em 0;
  padding: 15px 0;
}

.phone-order .left img{
  padding: 0;
  width: 50%;
  max-width: 155px;
  min-width: 50px;
  float: none;
}

.phone-order .right img{
  padding: 0;
  width: 50%;
  max-width: 155px;
  min-width: 50px;
  float: none;
}

.phone-order h2 {
  color: #346C6C;
  text-align: center;
  line-height: 30px;
  margin: 0px;
  padding: 5px 0;
}

/* INFO BOXES - all formats */
.info-box .box-left, .box-right {
  position: relative;
  background-image: linear-gradient(to bottom, #FDFDEC, #A6A86C);
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.20);
  width: 100%;
  max-width: 500px;
  min-width: 320px;
  height: 320px;
  margin: 0 0 6em 0;
  padding: 10px;
}

.info-box .box-left {
  float: none;
}

.info-box .box-right {
  float: none;
}

.info-box .head {
  width: 100%;
  max-width: 190px;
  min-width: 150px;
  margin-top: -50px;
}

.info-box .AFM-truck {
  width: 100%;
  max-width: 280px;
  min-width: 200px;
  padding: 10px;
}

.info-box .review-box {
  font-style: italic;
  padding: 44px 15px 15px 15px;
  line-height: 20px;
  background: #EFE0B9;
  box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.20);
  height: 210px;
  margin: 5px 15px 15px 15px;
}

.info-box p {
  padding: 18px;
  font-size: 11pt;
  font-weight: 200;
  line-height: 20px;
}

.info-box a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  color: #231F20;
  font-weight: normal;
  line-height: 26px;
}

.info-box h3 {
  color: #346C6C;
  font-size: 10pt;
  margin-top: 10px;
}

/* Footer- all formats */
footer .container {
  background-image: linear-gradient(90deg, #C8CA97, #A6A86C);
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.20);
  padding: 5px;
  height: 100%;
  max-height: 146px;
  margin: 05px;
  display: inline-block;
}

footer h2 {
  font-family: 'Montserrat', sans-serif;
  color: #A65215;
  font-size: 14pt;
  line-height: 30px;
  margin: 0;
}

footer a {
  font-size: 18px;
  font-weight: 200;
  color: #A65215;
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
}

footer i {
  vertical-align: top;
  margin: 0 0 13px 0;
  padding: 10px;
  color: #A65215;
  font-size: 22px;
  height: 1.5em;
}

footer p {
 color: #A65215;
 font-size: 12px;
 margin: 20px 0;
}

footer .logo img {
  margin-top: 20px;
  width: 100%;
  max-width: 170px;
  min-width: 100px;
  padding: 5px;
  text-align: middle;
}



/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-iPHONES/OTHER MOBILES (min320/max600)
/*-----------------------------------------------------------------------------------*/

@media (min-width: 320px) and (max-width: 600px) {

    .column.full { width: 100%; }
    .column.half { width: 100%; }
    .column.third { width: 100%; }
    .column.one { width: 100%; }
    .column.two { width: 100%; }
    .column.three { width: 100%; }
    .column.middle { width: 100%; }
    .column.fourth { width: 100%; }

      /* HEADER/NAVBAR - max600 */
      .header-box .site-logo {
        max-width: 150px;
        min-width: 100px;
      }

      .header-box .nav-banner {
        max-width: 460px;
        min-width: 235px;
      }

      .header-box  .main-menu-button a{
        border-radius: 10px;
        padding: 3px 10px 3px 10px;
        background-color: #473150;
        box-shadow: 1px 2px 0px 0px rgba(0,0,0,0.20);
        display: block;
        height: 1.5em;
        box-sizing: content-box;
        margin: 10px 0 15px 0;
      }

      .header-box .order-banner {
        max-width: 100px;
        min-width: 90px;
      }

  /* CAROUSEL - see carousel.css */

  /* PRODUCTS - max600 */
      .products .head {
        max-width: 190px;
        min-width: 150px;
        margin-top: -50px;
      }

      .products .box {
        display: inline-block;
      }

  /* NFO BOXES - max600 */
      .info-box .box-left, .box-right {
        display: block;
        width: 100%;
        max-width: 580px;
        min-width: 320px;
        height: 320px;
        margin: 0 0 6em 0;
        padding: 10px;
      }

  /* FOOTER - max600 */

    }

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-IPADS/TABLETS (min601/max1199)
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-width: 601px) and (max-width: 1199px) {

    .column.full { width: 100%; }
    .column.half { width: 100%; }
    .column.third { width: 100%; }

    .column.one {
      width: 50%;
      display: inline-block;
      float: left;
    }
    .column.two {
      width: 50%;
      display: inline-block;
    }

    .column.three {
      width: 100%;
      display: inline-block;
      text-align: center;
     }

    .column.middle { width: 100%; }
    .column.fourth { width: 100%; }

    /* HEADER/NAVBAR - max1199 */
      .header-box .site-logo{
        max-width: 200px;
        min-width: 150px;
      }

      .header-box .nav-banner {
        max-width: 900px;
        min-width: 480px;
      }

      .header-box .main-menu-button a{
        border-radius: 10px;
        padding: 5px 10px;
        font-size: 15pt;
        background-color: #473150;
        box-shadow: 1px 2px 0px 0px rgba(0,0,0,0.20);
        display: block;
        height: 1.5em;
        box-sizing: content-box;
        margin: 20px 4em;
      }

      .header-box .order-banner {
        max-width: 125px;
        min-width: 75px;
      }

  /* CAROUSEL - see carousel.css */

  /* PRODUCTS - max1199 */
      .products .head {
        max-width: 190px;
        min-width: 150px;
        margin-top: -50px;
      }

      .products .box {
        display: block;
      }

      .products .row p{
        margin: 0 20px 10px 20px;
      }

  /* INFO BOXES - max1199 */
      .info-box .box-left, .box-right {
        display: inline-block;
        max-width: 500px;
        min-width: 320px;
        height: 350px;
        margin: 0 0 6em 0;
        padding: 10px;
      }

      .info-box p {
        padding: 18px;
        font-size: 14pt;
        line-height: 22px;
      }

      .info-box a {
        font-size: 16pt;
        line-height: 26px;
      }

      .info-box h3 {
        font-size: 14pt;
        margin-top: 10px;
      }

      .info-box .review-box {
        margin: 22px 15px 15px 15px;
      }


  /* FOOTER - max1199  */

  }

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-LAPTOPS/DESKTOPS (min1200px)
/*-----------------------------------------------------------------------------------*/
@media (min-width: 1200px) {

    .column.full { width: 100%; }

    .column.half {
      width: 50%;
      display: inline-block;
      float: left;
    }

    .column.fourth {
      width: 25%;
      display: inline-block;
      float: left;
    }

    .column.one {
      width: 30%;
      display: inline-block;
      float: left;
    }

    .column.two {
      width: 30%;
      display: inline-block;
    }

    .column.three {
      width: 30%;
      display: inline-block;
     }

    .column.third {
      width: 30%;
      display: inline-block;
      float: left;
    }

    .column.middle {
      width: 40%;
      display: inline-block;
      float: left;
      padding: 30px 0px;
    }

  /* HEADER/NAVBAR - min1200 */
      .header-box .site-logo {
        float: left;
        max-width: 230px;
        min-width: 160px;
        vertical-align: middle;
      }

      .header-box .nav-banner {
        max-width: 500px;
        float: left;
      }

      .header-box .link-display {
       display: inline-block;
       float: left;
       margin: 0;
      }

      .header-box .main-menu-button a {
        color: #5D5F29;
        padding: 10px;
        display: inline-block;
        float: left;
      }

      /* .header-box .main-menu-button a{
        border-radius: 10px;
        padding: 5px 10px;
        font-size: 15pt;
        background-color: #473150;
        box-shadow: 1px 2px 0px 0px rgba(0,0,0,0.20);
        display: block;
        height: 1.5em;
        box-sizing: content-box;
        margin: 20px 4em;
      } */


      .header-box .order-banner {
        max-width: 100px;
        min-width: 90px;
        vertical-align: top;
        float: right;
      }

  /* CAROUSEL - see carousel.css */

  /* PRODUCTS - min 1200 */
      .products .head {
        max-width: 190px;
        min-width: 150px;
        margin-top: -50px;
      }

      .products .box {
        display: block;
      }

  /* PHONE ORDER - min 1200 */
      .phone-order .container{
        display: inline-block;
      }

      .phone-order .left img{
        float: left;
      }

      .phone-order .right img{
        float: right;
      }

      .phone-order h2 {
        font-size: 35px;
        line-height: 47px;
        padding: 17px 0;
      }

  /* INFO/BOXES - min 1200 */
      .info-box .box-left, .box-right {
        display: inline-block;
        max-width: 500px;
        min-width: 400px;
        height: 350px;
        margin: 0 0 6em 0;
        padding: 10px;
      }

      .info-box .box-left {
        float: left;
      }

      .info-box .box-right {
        float: right;
      }

      .info-box .head {
        max-width: 190px;
        min-width: 150px;
        margin-top: -50px;
      }

      .info-box .AFM-truck {
        max-width: 300px;
        min-width: 200px;
        padding: 10px;
      }

      .info-box .review-box {
        padding: 44px 15px 15px 15px;
        line-height: 20px;
        height: 210px;
        margin: 5px 15px 15px 15px;
      }

      .info-box p {
        padding: 18px;
        font-size: 11pt;
        font-weight: 200;
        line-height: 20px;
      }

      .info-box a {
        font-size: 14pt;
        line-height: 26px;
      }

      .info-box h3 {
        font-size: 10pt;
        margin-top: 10px;
      }

  /* FOOTER - min 1200 */
      footer .container {
        display: inline-block;
        margin: 0;
        padding: 0;
      }

      footer i {
        padding-right: 35;
        font-size: 35px;
        height: 1.5em;
        vertical-align: middle;
      }

      footer a{
        text-align: left;
        margin-left: 30px;
        padding: 20px;
        font-size: 24px;
      }

      footer p {
       font-size: 12px;
       margin: 30px 0 0 30px;
       text-align: left;
       padding: 20px;
      }

      footer .logo img{
        max-width: 150px;
        min-width: 90px;
        float: right;
        vertical-align: middle;
        padding: 8px 15px 2px 0;
        margin: 0;
      }
    }
