/*colors
   green 5D5F29
   purple 512C73
   teal 346C6C
   blackish brown (text) 231F20
   light tan EEDFB8
   rust A65215 */

/*fonts
  font-family: 'Permanent Marker', cursive;
  font-family: 'Sacramento', cursive;
  font-family: 'Montserrat', sans-serif;*/

.wrapper {
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
  /*overflow-x: hidden;*/
}

#page {
  background-image: url("../assets/background_repeat-small.png");
  background-position: center;
  background-repeat: repeat;
  padding: 2em 0;

}

body {
  background-color: #5D5F29 !important;
  text-align: center;
}

img {
  border: 0;
  vertical-align: top;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  text-docoration: none;
}

h1 {
  font-family: 'Sacramento', cursive;
  color: #5D5F29;
  font-size: 50px;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 22pt;
  font-weight: normal;
  color: #000000;
  padding-top: 15px;
  margin: 0 0 61px;
  text-rendering: optimizeLegibility;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 18pt;
  color: #000000;
  text-decoration: underline;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 24pt;
  color: #000;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* container */
.container {
  width: 100%;
  vertical-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}
/*bootstrap.css*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}



.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.col-md-4, .col-md-6, .col-md-8 {
  font-family: 'Montserrat', sans-serif;
  width: 96%;
  text-align: center;
}


/* HEADER/NAVBAR */
.header-box {
  position: relative;
  width: 100%;
  max-height: 200px;
  min-height: 160px;
  background-image: url('../assets/rectangle_top.png');
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.20);
}
.site-logo img{
  margin: 0;
  padding: 5px;
  vertical-align: middle;
  width: 16%;
  max-width: 230px;
  min-width: 160px;
  float: left;
}
.order-banner img{
  float: right;
  max-height: 88px;
  min-height: 70px;
  vertical-align: top;
  z-index: 20;
}
.nav-banner {
  text-align: center;
  margin: 69px 0px 0px 195px;
  max-width: 812px;
  min-width: 25%;
  max-height: 64px;
  min-height: 25%;
  position: absolute;
  background: #A65215;
  border: 2px dashed #EEDFB8;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #A65215, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  float: left;
}
.nav-text img{
  margin: 0;
  padding: 1.25em 2.25em 1em 2em;
  width: 16%;
  max-width: 10px;
  min-width: 5px;

}
.nav-text img:hover {
  filter: hue-rotate(90deg);
}
.header-box h1 {
  font-family: 'Sacramento', cursive;
  color: #5D5F29;
  font-size: 37px;
  font-weight: bolder;
  margin-bottom: 0;
  margin-top: .4em;
  line-height: 1.5;
}


/* CAROUSEL - see carousel.css */

/* PRODUCTS */

.products {
  padding-top: 0px;
}
.products .container {
  position: relative;
  width: 100%;
  height: 522px;
  background-image: url('../assets/rectangle_large.png');
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.20);
  z-index: 10;
  margin-top: 80px;
}
.products .head img{
  left: 39%;
  position: absolute;
  top: -50px;
  width: 216px;
  z-index: 20;
}
.products .box {
  padding: 5px;
  background: white;
  box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.20);
  height: 303px;
  width: 243px;
  margin: 20px;
  z-index: 20;
}
.products .col-md-4 {
  text-align: center;
  min-height: 1px;
  margin: 53px 0px 20px 0px;
  display:inline-block;
}
.products .box-pic img{
  width: 211px;
  margin-top: 10px;
}
.products h2{
  font-family: 'Permanent Marker', cursive;
  font-size: 22pt;
  color: #000000;
  padding-top: 15px;
  margin: 0 0 61px;
}
.products .button a{
  border-radius: 10px;
  color: #EEDFB8;
  font-size: 18pt;
  font-weight: 400;
  padding: 10px 30px;
  height: 30px;
  background: #346C6C;
  box-shadow: 1px 2px 0px 0px #9B9B9B;
}
.products .button:hover {
  color: #FFFFFF;
}
.products p{
  height: 514px;
  padding: 470px 0 0 1%;
  font-family: 'Montserrat', sans-serif, italic;
  font-size: 18pt;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: #A65215;
}

/* PHONE ORDER */
.phone-order .container{
  position: relative;
  width: 100%;
  height: 75px;
  vertical-align: top;
  display: inline-block;
  margin: 20px 0 85px 0;
}
.phone-order .left{
  padding: 15px 0 30px 15px;
  float: left;
  height: 115px;
  width: 155px;
}
.phone-order .right{
  padding: 15px 15px 30px 0;
  float: right;
  height: 115px;
  width: 155px;
}
.phone-order h2 {
  font-family: 'Permanent Marker', cursive;
  color: #346C6C;
  text-align: center;
  font-size: 2em;
  line-height: 30px;
  margin: 10px 0 71px 0;
  padding-bottom: 20px;
}


/* INFO BOXES */
.info-box .container {
  position: relative;
  padding: 10px 60px 25px 60px;
  z-index: 10;
}
.info-box .col-md-8, .col-md-4 {
  margin: 0;
  position: relative;
  display: block;
}

.info-box .box-left,
.info-box .box-right {
  display: block;
  padding-top: 60px;

}
.info-box .box-left{
  background-image: url('../assets/banner_one-fourth.png');
  background-repeat: no-repeat;
  padding-right: 10px;
  z-index: 10;
  width: 431px;
  height: 425px;
  float: left;
}
.info-box .box-right{
  background-image: url('../assets/banner_one-fourth.png');
  background-repeat: no-repeat;
  padding-left: 10px;
  z-index: 10;
  width: 431px;
  height: 425px;
  float: right;
}

.info-box .head img{
  left: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -50px;
  bottom: 100px;
  width: 215px;
  text-align: center;
  z-index: 20;
}
.info-box .review-box {
  font-style: italic;
  padding: 44px 15px 0 15px;
  line-height: 20px;
  background: #EFE0B9;
  box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.20);
  height: 190px;
  width: 342px;
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 20;
}

.info-box p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16pt;
  color: #000;
  font-weight: normal;
  line-height: 26px;
  text-rendering: optimizeLegibility;
  margin: 0 20px 2px 20px;
}
.info-box h3{
  color: #346C6C;
  font-size: 12pt;
  margin-top: 5px;
}

/* FOOTER */
footer {
  display: inline-block;
  color: #A65215;
  font-size: 28px;
  font-weight: 100;
}
footer .container{
  width: 100%;
  background-image: url('../assets/rectangle_top.png');
  height: 167px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
footer h2{
  font-size: 14pt;
  line-height: 30px;
  margin: 0;
  text-align: left;
}
footer a {
  color: #A65215;
  margin: 0;
  padding-right: 10px;
  text-align: left;
}
footer i {
  padding: 45px;
  color: #A65215;
  font-size: 30px;
}
footer p {
 color: #A65215;
 font-size: 12px;
 margin: 50px 0 0 0;
 text-align: left;
}
footer .logo img{
  padding: 0px;
  width: 150px;
  float: right;
}

/*bootstrap.css*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .phone-order h2 {
    font-size: 1em;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .phone-order h2 {
    font-size: 1.5em;
  }
   .col-md-12 {
     width: 100%;
   }
   .col-md-8 {
     width: 66.66666667%;
   }
   .col-md-6 {
     width: 50%;
   }
   .col-md-4 {
     width: 33.33333333%;
   }
   .col-md-3 {
     width: 25%;
   }
   .col-md-2 {
     width: 16.66666667%;
   }
  }

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .phone-order h2 {
    font-size: 2em !important;
  }
}

*, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
   }
